[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pytest = "*"
Flask-Testing = "*"
flask-wtf = "*"
bootstrap-flask = "*"
wtforms-sqlalchemy = "*"
wtforms-alchemy = "*"

[requires]
python_version = "3.6"
